body {
  margin: 0;
  padding: 0;
}
/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 90%;
} */
.text-center {
  text-align: center;
} 
.w-100 {
  width: 100%;
}
.title {
  background-color: #f69435;
  color: white;
  margin: 0;
  padding: 2rem;
  font-size: 32px;
  text-align: center;
  width: 95%;
}
.formContainer {
  margin: 2rem;
  text-align: center;

}
.formContainer input {
  font-size: 14px;
  padding: 1rem;
  width: 300px;
  margin: 1rem;
}
.formContainer button {
  background-color: #f69435;
  color: white;
  border: 0;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: bold;
  color: 16px;
}
.list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show-counter, .countdown {
  display: flex;
  align-items: center;
}
.show-counter p {
  margin-right: .4rem;
  font-size: 40px;
}
.countdown p, span {
  margin-right: .4rem;
  font-size: 40px;
}
.counter-container {
  margin: 0 5rem;
}
.todo-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.todo-list ul li {
  font-size: 40px;
  text-transform: capitalize;
  margin: 2rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  max-height: 60px;
}
.todo-list ul li:hover {
  border: 1px solid #EEEEEE;
  display: flex;
}
.expired-list  {
  display: inline;
}
.not-expired {
  display: none;
}
.not-expired:hover {
  /* display: inline; */
  background-color: red;
}
.todo-list ul li div img {
  margin-left: 1rem;
}
.todo-list ul li div img { 
  width: 25px ;
  height: 30px;
}
.todo-list ul li:hover div img {
  cursor: pointer;
}
.dialog-container {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 450px;
  height: 300px;
  background-color: white;
  border: 1px solid #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dialog-container h3 {
  text-align: center;
  padding-bottom: 1rem;
}
.dialog-container div {
  padding: 0rem 1rem 1rem 1rem;
  text-align: right;
}
.dialog-container p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.dialog-container button {
  background-color: steelblue;
  border: none;
  color: white;
  padding: .5rem 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}
.backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; 
  height: 100%; 
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
}
/* ul {
  margin-left: 10%;
} */
.dialog-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 40px;
  border-bottom: 1px solid #EEEEEE;
}
.footer {
  border-top: 1px solid #EEEEEE;
}
.dialog-title-container button {
  background-color: transparent;
  color: red;
  font-weight: bold;
  position: absolute;
  right: 0px;
}

@media only screen and (min-width: 374px) and (max-width: 376px) {
  .formContainer {
    margin-left: 1rem;
  }
  .formContainer input {
    width: 270px;
  }
  .formContainer button {
    margin-left: 1rem;
  }
  .todo-list ul {
    padding: 0rem
  }
  .todo-list ul li {
    font-size: 20px;
    text-transform: capitalize;
    margin: .5rem 0rem;
    padding: 1rem 2rem;
  }
  .show-counter p {
    font-size: 20px;
  }
  .countdown p, span {
    margin-right: .3rem;
    font-size: 20px;
  }
  .todo-list ul li div img { 
    width: 15px ;
    height: 20px;
  }
  .title {
    width: 83%;
  }
  .dialog-container {
    left: 7%;
    width: 300px;
    height: 300px;
  }
  .counter-container {
    margin: 0 2rem;
  }
}
@media only screen and (min-width: 411px) and (max-width: 732px) {
  .title {
    width: 84%;
  }
  .formContainer {
    margin-left: 1rem;
  }
  .formContainer button {
    margin-left: 1rem;
  }
  .countdown p, span {
    margin-right: .3rem;
    font-size: 20px;
  }
  .show-counter p {
    font-size: 20px;
  }
  .todo-list ul li {
    font-size: 20px;
  }
  .list-container {
    margin-left: 1rem;
    padding-left: 0;
  }
  .todo-list ul li {
    margin: 2rem 0
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 377px) and (max-width: 769px) {
  .dialog-container {
    left: 20%;
  }
  .counter-container {
    margin: 0 2rem;
  }
  .show-counter p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 766px) and (max-width: 769px) {
  .dialog-container {
    left: 20%;
  }
  .formContainer input {
    width: 200px;
  }
  .counter-container {
    margin: 0 2rem;
  }
  .show-counter p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 361px) {
  .formContainer {
    margin-left: 1rem;
  }
  .formContainer input {
    width: 270px;
  }
  .formContainer button {
    margin-left: 1rem;
  }
  .todo-list ul {
    padding: 0rem
  }
  .todo-list ul li {
    font-size: 20px;
    text-transform: capitalize;
    margin: .5rem 0rem;
    padding: 1rem 2rem;
  }
  .todo-list ul li div img { 
    width: 15px ;
    height: 20px;
  }
  .title {
    width: 90%;
  }
  .dialog-container {
    left: 7%;
    width: 300px;
    height: 300px;
  }
  .countdown p, span {
    margin-right: .3rem;
    font-size: 20px;
  }
  .show-counter p {
    font-size: 20px;
  }
  .counter-container {
    margin: 0 2rem;
  }
}
